<!DOCTYPE html>
<html>
  <head>
    <title>Runway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= session[:session_token] %>
    <%= yield %>
  </body>
</html>
