<!DOCTYPE html>
<html>
  <head>
    <title>Runway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.images = {
        coat: "<%= image_url('coat.png') %>",
        dress_two: "<%= image_url('dress-two.jpg') %>",
        heart: "<%= image_url('heart.png') %>",
        hero: "<%= image_url('hero.jpg') %>",
        profile: "<%= image_url('profile.png') %>",
        RCWP: "<%= image_url('RCWP.png') %>",
        search: "<%= image_url('search.png') %>",
        shopping_bag: "<%= image_url('shopping-bag.png') %>",
        }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Quicksand&display=swap" rel="stylesheet">
  </head>

  <body className='body.noScroll'>
    <%= yield %>
  </body>
</html>
